.jayjest {
  background-color: #f5f5f5;
  margin: 170px 40px 0;
}

.title-block {
  display: flex;
  width: 100%;
  padding-top: 10px;
  margin-bottom: 20px;
  gap: 300px;

  & div {
    font-size: 36px;
    font-weight: 700;
    color: #443e3e;
  }
}

h4 {
  font-size: 14px;
  color: #999999;
}

.exemplar {
    margin-top: 30px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;

    display: flex;
    gap: 25px;

    & .image {
        padding: 10px;
        img {
            max-width: 250px;
        }
    }

    & .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        max-width: 76%;
        & .name {
            font-size: 24px;
        }
        & .desc {
            //margin-top: 10px;
            font-size: 18px;
        }
        & .link {
            a {
                text-decoration: none;
                color: #0B7A6A;
                font-weight: 700;
                font-size: 18px;
                user-select: none;
            }
        }
    }

    &:hover {
        transform: scale(1.02); /* Увеличение элемента в 1.2 раза */
    }
}

.update {
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    gap: 10px;
    color: #443E3E;
    margin-bottom: 30px;
}